@import url('https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@1,9..144,900&display=swap');
:root{
    --transition:all 500ms ease;
} 
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
body{
    font-family: 'Barlow', sans-serif;
    /* font-family: 'Fraunces', serif */
    overflow-x: hidden;
}
form input{
    font-size: 1.2rem;
}
form textarea{
    font-size: 1.2rem;
}